@import "../css/global.css";
@import "../css/header.css";

header{
    color: var(#8784d0);
}

.logo{
    width: 25.5rem;
    height: 15.75rem;
    padding: 2.5rem;
}

p{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-inline: 5rem;
    padding: 4rem;
    width: 10rem;
    height: auto;
}

.p1{
    max-width: 15rem;
    margin-right: 5rem;
}

.p2{
    max-width: 15rem;
    margin-left: 5rem;
    text-align: inline;
    justify-content: flex-start;
}