@import "../css/global.css";
@import "../css/header.css";

:root {
    font-size: 62.5%;
    --green: #8f9044;
    --yellow: #f8a523;
    --orange: #fc8020;
    --red: #cf1500;
    --dark-grey: #352f3d;
    --blue: #211b74;
    --white: #fff;
    --fundo: #fff9ed;

}

main {
    margin-left: 10.2rem;
    margin-top: 6.3rem;
}

main h1 {
    font-size: 4.8rem;
    color: var(--dark-orange);
    line-height: 125%;
    margin-bottom: 1.6rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

p {
    font-family: "Mali", serif;
    font-size: 3.0rem;
    color: #046a38;
    max-width: 55.5rem;
    margin-right: rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}

.historia{
    font-family: "Mali", serif;
    font-size: 2.555rem;
}

main h2{
    font-size: 2rem;
    font-family: "Mali", serif;
    color: var(--blue);
    line-height: 125%;
    margin-bottom: 1.6rem;
}

main p {
    font-size: 1.8rem;
    color: var(--dark-grey);
    max-width: 64.8rem;
    line-height: 160%;
    font-family: "Mali", serif;
    margin-bottom: 3.5rem;
    text-align: justify;
}

.logo{
    width: 25.5rem;
    height: 15.75rem;
    padding: 2.5rem;
}

body {
    background-color: var(--fundo);
}

a{
    font-family: "Open sans", sans-serif;
}

header a.active {
    color: var(--orange);
    font-weight: 700;
}

h1{
    font-family: "Rakkas", sans-serif;
    font-size: 4rem;
    color: var(--blue);
    max-width: 20rem;
    margin-bottom: 3.5rem;
    margin-block: 3.5rem;
    text-align:justify;
    line-height: 125%;
}

strong{
    font-family: "Mali", serif;
    font-size: 2rem;
}
.h1{
    align-items: center;
 }

h2 {
    text-align: center;
}
